name: CI-CD-pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  BUILD:
    runs-on: [self-hosted, MDP]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: install maven
        run: |
          sudo apt update
          sudo apt install maven -y

      - name: Build with Maven
        run: mvn clean package
       
