name: Simple CI Build and Deploy
on:
  workflow_dispatch:

jobs:
  BUILD:
    runs-on: GHA-RUNNER
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven
      - name: Install Maven 
      - run: !
         sudo apt update
         sudo apt install -y maven
         mvn -version

      - run: mvn clean package
      
      - name: Deploy WAR to Tomcat Server
        env:
          TOMCAT_URL: ${{ secrets.TOMCAT_URL }}
          TOMCAT_USER: ${{ secrets.TOMCAT_USERNAME }}
          TOMCAT_PASS: ${{ secrets.TOMCAT_PASSWORD }}
        run: |
          WAR=$(ls target/*.war | head -n 1)
          curl -sS -u "${TOMCAT_USER}:${TOMCAT_PASS}" --upload-file "$WAR" "${TOMCAT_URL}/manager/text/deploy?path=/maven-web-application&update=true"
